*{
    margin: 0;
    font-family: fantasy;

}

.logo{
    background-color: rgb(90, 176, 238);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  rgb(84, 128, 124);
    width: 100%;
    height: 5vh;
    font-size:4vh;
}
.navOpts{
    text-decoration: none;
}

 
#log1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    height: 10vh;
    width: 10vh;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 6vh;
    background-color:  rgb(84, 128, 124);

}
#log2{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    height: 6vh;
    width: 6vh;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 3vh;
    background-color:  rgb(84, 128, 124);

}
#log3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    height: 10vh;
    width: 10vh;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 6vh;
    background-color:  rgb(84, 128, 124);
    position: relative;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
#intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
#myimg{
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
}
footer{
    width: 100%;
    height: 25vh;
    background-color: rgb(90, 176, 238);
    border-top-left-radius: 80px;
    text-align: center;
    font-size: 3vh;
}
#para{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media (max-width: 600px){
    .nav{
        position: absolute;
        height: 100vh;
        width: 30%;
        background-color:  rgb(84, 128, 124);
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 2;
        
    }
 
}
.heading{
    width: 100%;
    height: 70vh;
    background-color: rgb(246, 175, 175); 
    display:flex;
     justify-content:space-evenly;
     align-items: center;

}
.heading:hover{
    background-color: rgb(220, 160, 160);
    cursor: pointer;
}
/* .heading1:hover{
    background-color: rgb(220, 160, 160);
    cursor: pointer;
}
.heading1:hover{
    background-color: rgb(220, 160, 160);
    cursor: pointer;
}
.heading3:hover{
    background-color: rgb(225, 204, 204);
    cursor: pointer;
} */
 
.heading h1{
    font-size: 10vh;
}
.heading p{
    font-size: 3vh;
}
.heading1 h1{
    font-size: 10vh;
}
.heading1 p{
    font-size: 3vh;
}

.heading1{
    width: 100%;
    height: 70vh;
}
.skillimg{
    display: flex;
    justify-content: center;
    align-items: center;


}
.heading2{
    width: 100%;
    height: 70vh;
}
.heading3{
    width: 100%;
    height: 70vh;
}
.skillcont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.profilepic{
    background-image: url(/portfolioImg.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
}
 

 .Microsoft{
    width:25%;
    height:50vh;
    border: 1px solid black ;
 }
 
 .advancelang{
    width:25%;
    height:50vh;
    border: 1px solid black ;
 }
 .basiclang{
    width:25%;
    height:50vh;
    border: 1px solid black ;
 }
 .htmlpic{
    background-image: url(/html.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
 }
 .Mspic{
    background-image: url(/MS.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
 }
 .box1{
    width: 25%;
    height: 50vh;
    border: 1px solid black ;
 }
 .box1 p{
    text-align: left;
 }
.box2 p{
    text-align: left;
 }
.box3 p{
    text-align: left;
 }
 .box3{
    width: 25%;
    height: 50vh;
    border: 1px solid black ;
 
 }
 
 
 
 